<div class="container">

    <div class="row">
      <div class=" col-md-8">
        candle stick
      </div>
      <div class="col-md-4">
        <h5>Market Depth</h5>
        <table class="table table-bordered text-center">
          <thead>
            <tr class="text-center">
              <th scope="col" colspan="2">Buy</th>
              <th scope="col" colspan="2">Sell</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
            <tr>
              <td scope="row">11570.67000000</td>
              <td>0.000871</td>
              <td>13900.00000000</td>
              <td>0.000871</td>
            </tr>
            <tr>
              <td scope="row">11570.67000000</td>
              <td>0.000871</td>
              <td>13900.00000000</td>
              <td>0.000871</td>
            </tr>
            <tr>
              <td scope="row">11570.67000000</td>
              <td>0.000871</td>
              <td>13900.00000000</td>
              <td>0.000871</td>
            </tr>
          </tbody>
        </table>
      <h5>Trades</h5>
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Market Maker</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1804</td>
          <th>0.00000154</th>
          <td class="text-center"><fa name="check-circle"></fa>
            <!-- <fa name="check-square" animation="spin"></fa>
            <i class="fa fa-thumbs-up"></i> -->
          </td>
        </tr>
        <tr>
          <td>1804</td>
          <th>0.00000154</th>
          <td class="text-center"><fa name="times-circle"></fa>
          </td>
        </tr>
        <tr>
          <td>1804</td>
          <th>0.00000154</th>
          <td class="text-center"><fa name="check-circle"></fa>
          </td>
        </tr>
        </tbody>
       </table>
      </div>
    </div>

</div>
