.candlestick-chart-container{
  height: 525px;
}
.grey{
  color: grey;
}
.screenshot{
  color: white;
}
.screenshot:hover{
  color: white;
}


.active-nav{
  border-bottom: 2px solid rgba(255, 144, 0, 1);
}
.active-nav:hover{
  border-bottom: 2px solid rgba(255, 144, 0, 1);
}
a.nav-link.grey:hover{
  color: rgba(255, 144, 0, 1);
  cursor: pointer;
}
a.nav-link.:active{
  color: rgba(255, 144, 0, 1);
  cursor: pointer;
}
