<div class="container">

    <div class="row">
      <div class="col-md-4" >
        <h4 class="orange">{{this.currentPair}}</h4>


        </div>
        <div class="col-md-4">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link " [ngClass]="currentInterval == '1m' ? 'orange' : 'grey'" (click)="changeInterval('1m')">1m</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [ngClass]="currentInterval == '15m' ? 'orange' : 'grey'" (click)="changeInterval('15m')">15m</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [ngClass]="currentInterval == '1h' ? 'orange' : 'grey'" (click)="changeInterval('1h')">1h</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <a class="mt-2 btn btn-danger screenshot"  #downloadLink> <i (click)="takeScreenshot()" class="fa fa-camera" aria-hidden="true"></i></a>

        <button type="button" class="ml-2 mt-2 btn btn-danger"><i class="fa fa-download" aria-hidden="true"></i></button>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span >
               <span>O<span id="open"> </span></span>
      <span> H<span id="high"> </span></span>
      <span> L<span id="low"> </span></span>
      <span> C<span id="close"> </span></span>
    </span>

    </div>
  </div>
  <div class="row">
      <div class="col-md-8 candlestick-chart-container" id="candlestick-chart">

        <ngx-spinner [fullScreen]="false" name="chartSp" type="ball-clip-rotate-multiple" size="large">
              </ngx-spinner>
      </div>
      <div class="col-md-4 text-center">
        <app-order-book [pair]="this.currentPair"></app-order-book>
        <app-trade-history [pair]="this.currentPair"></app-trade-history>
      </div>
    </div>
  </div>
